

.stories
{
  .comment
  {
    padding: 30px;
    border-bottom: #d4d4d4 solid 1px;
    margin-bottom: 30px;
    position: relative;
    &:nth-child(even)
    {
      background-color: #f7f7f7;
      .comment-meta
      {
        .reply
        {
          .btn
          {
            background-color: #42c7f4;
          }
        }
      }
    }

    .comment-meta
    {
      position: absolute;
      bottom: 0;
      left:0;
      right: 0;
      padding: 15px;

      .posted
      {
        float:right;
        color: #848484;
      }

      .reply
      {
        position: absolute;
        bottom: -1px;
        left:30px;
        .btn
        {
          border-radius: 0;
          border: none;
        }
      }
    }
  }
}